@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FinalProject.Services;
@using FinalProject.Controllers
@{
}

<br />
<br />
<br />

<h1> >>>>>>>>>>>>>>> Order Created </h1>

